<section class="event group">
  <header class="heading"><%= moment(myEvent.escape('date')).format('ddd, MMMM Do YYYY @ h:mm A') %></header>
  <address class="location">Event Location: <%= myEvent.escape('location') %></address>

  <div class="map group"></div>

  <ul class="host"></ul>
  <ul class="attendees"></ul>
</section>