<header class="header" style="background-image:url(<%= asset_path("header.png")%>);">
  <strong>Let's play games!</strong>
</header>

<nav class="nav group"></nav>

<main class="content"></main>

<footer class="footer"></footer>

<script>
$(document).ready(function(){
  Meeplespace.initialize();
});
</script>

<script type="text/javascript">
  meeplespacelogo = '<%= image_tag "logo.png" %>';
</script>

