<header class="header">
</header>

<nav class="nav">
</nav>

<main class="content">
</main>

<footer class="footer"></footer>

<script>
$(document).ready(function(){
  Meeplespace.initialize();
});
</script>

<script type="text/javascript">
  meeplespacelogo = '<%= image_tag "logo.png" %>';
</script>

