<ul class="author">
  <li>
    © 2015 Eric Savadian. All Rights Reserved.
  </li>
</ul>

<ul class="footer-links">
  <li>
    <a href="https://github.com/slancio/meeplespace/blob/master/docs/attrib.md" target="_blank">Image Attributions</a>
  </li>
</ul>