<article>
  <p>You can connect here with other gamers in your local area to schedule board and card game events.</p>
  <p>Our gamers are fun to play with and love games!</p>
</article>
<a href="#cities">Let's Play Games!</a>