<ul class="nav-logo">
  <li class="logo">
    <a href="#">
      <img src="meeplespacelogo"><br>
      <h1>meeple.space</h1>
    </a>
  </li>
</ul>
<ul class="nav-items">
  <li class="nav-item"><a href="#cities">Cities</a></li>
  <% if (Meeplespace.currentUser.isSignedIn()) { %>
    <li class="nav-item"><a href="#cities/<%= Meeplespace.currentUser.get('city_id') %>">Let's Play Games!</a></li>
    <li class="nav-item"><a href="#users/<%= Meeplespace.currentUser.id %>">Account</a></li>
    <li class="nav-item sign-out"><a href="#">Sign Out</a></li>
  <% } else { %>
    <li class="nav-item"><a href="#users/new">Sign Up</a></li>
    <li class="nav-item"><a href="#session/new">Sign In</a></li>
  <% } %>
</ul>