
<form>
  <h2>Sign In</h2>

  <ul>
    <li>
      <label for="user-email">Email</label>
      <input name="user[email]" type="email" id="user-email" placeholder="example@example.com" required>
    </li>

    <li>
      <label for="user-password">Password</label>
      <input name="user[password]" type="password" id="user-password" placeholder="enter your password" required>
    </li>

    <li>
      <button>Let's Play Games</button>
    </li>
  </ul>
</form>