<h2>Sign In</h2>

<form>

  <label for="user-email">Email</label><br>
  <input name="user[email]" type="email" id="user-email"><br><br>

  <label for="user-password">Password</label><br>
  <input name="user[password]" type="password" id="user-password"><br><br>

  <button>Let's Play Games</button>
</form>