<h2>Welcome, <%= user.escape('nickname') %></h2>

<ul class="account-links">
  <li>
    
  </li>
  <li>
  </li>
  <li class="link">
    <a href="#users/<%= Meeplespace.currentUser.id %>/edit">Account Details</a>
  </li>
</ul>