<section class="group">
  <header><%= city.escape('name') %></header>
  <article><%= city.escape('description') %></article>
</section>
<% if (Meeplespace.currentUser.get('host') && (city.id === Meeplespace.currentUser.get('city_id'))) { %>
  <a href="#events/new" class="host-new">Host a Game Session</a>
<% } %>
<strong>Join us for an upcoming game session</strong>
<ul class="events"></ul>
<strong>Hosts make your game nights awesome</strong>
<ul class="hosts"></ul>