.content {
  width: 960px;
  margin: auto;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  color: #3B3A35;
}

form {
  width: 520px;
  margin: auto;
}

form h2 {
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 10px;
}

form ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

form li {
    padding: 8px 0; 
    position:relative;
}

form label {
  font-weight: 500;
  width: 120px;
  margin-top: 5px;
  display: inline-block;
  float: left;
  padding: 3px 0;
}


input:focus, select:focus, textarea:focus {  
  outline: none;
}

:-moz-placeholder {
  color: #5E3448;
}
 
::-webkit-input-placeholder {
  color: #5E3448;
}

input, textarea, select, option{
  width: 400px;
  box-sizing: border-box;
  background: #F2AF8E;
  border-radius: 5px;
  border-style: none;
  text-align: center;
}

select {
  -webkit-appearance: menulist-button;
  font-size: 18px;
  color: #5E3448;
}

select:hover, button:hover, input[type="datetime-local"]:hover {
  cursor: pointer;
}

button {
  width: 400px;
  float: right;
  box-sizing: border-box;
  background: #F2AF8E;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px; 
  font-weight: 700;
  box-shadow: 0 1px #F59677, 0 2px #F59677, 0 3px #F59677, 0 4px #F59677, 0 5px #F59677, 0 6px #F59677;
}

button:hover {
  font-size: 18px;
  background: #F59677;
  box-shadow: 0 1px #F2AF8E, 0 2px #F2AF8E, 0 3px #F2AF8E, 0 4px #F2AF8E, 0 5px #F2AF8E, 0 6px #F2AF8E;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 30px;
  font-size: 14px;
}


.cities {
  width: 640px;
  margin: auto;
}

.cities li {
  float: left;
  position: relative;
  margin: 10px;
}

.cities li img {
  width: 300px;
  height: 200px;
}

.cities li strong {
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px #777;
  margin: auto;
  width: 100%;
  height: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  color: #FFF;
  font-size: 18px;
}

.link a {
  padding: 10px 0 10px 10px;
  display: block;
  color: #FB6648;
}

.link a:hover {
  color: #20457C;
  text-decoration: underline;
  font-weight: 700;
}

.city-main {
}

.city-main > strong, .user-profile > strong {
  display: block;
  padding: 10px;
  width: 720px;
  margin: 20px auto;
  background: #FB6648;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #ECDFBD;
  letter-spacing: 1.3px;
}

.city-main > a {
  display: block;
  padding: 10px;
  width: 420px;
  margin: 20px auto;
  background: #2A6A87;
  color: #EDCFBD;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 1px #2A3287, 0 2px #2A3287, 0 3px #2A3287, 0 4px #2A3287, 0 5px #2A3287, 0 6px #2A3287;
}

.city-main > a:hover {
  background: #2A3287;
  box-shadow: 0 1px #20457C, 0 2px #20457C, 0 3px #20457C, 0 4px #20457C, 0 5px #20457C, 0 6px #20457C;
}