.content {
  width: 960px;
  margin: auto;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  color: #3B3A35;
}

.content h2 {
  padding: 10px;
}

.home-page > article {
  width: 500px;
  margin: auto;
  font-size: 20px;
  text-align: justify;
}

.home-page p {
  margin-top: 10px;
}

.cities {
  width: 640px;
  margin: auto;
}

.cities li {
  float: left;
  position: relative;
  margin: 10px;
  width: 300px;
  height: 200px;
}

.cities li:hover {
  width: 296px;
  height: 196px;
  border: 2px solid #fff;
}

.cities li:hover strong {
  text-shadow: 2px 2px 4px #000;
}

.cities li img {
  width: 100%;
  height: 100%;
}

.cities li strong {
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px #777;
  margin: auto;
  width: 100%;
  height: 20px;
  left: 0;
  top: 0;
  bottom: 0;
  color: #FFF;
  font-size: 18px;
}

.link a {
  padding: 10px 0 10px 10px;
  display: block;
  color: #FB6648;
}

.link a:hover {
  color: #20457C;
  text-decoration: underline;
  font-weight: 700;
}

.city-main {
}

.city-main > strong, .user-profile > strong {
  display: block;
  padding: 10px;
  width: 720px;
  margin: 20px auto;
  background: #FB6648;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #ECDFBD;
  letter-spacing: 1.3px;
}

.city-main > a,
.user-main > a,
.home-page > a {
  display: block;
  padding: 10px;
  width: 420px;
  margin: 20px auto;
  background: #2A6A87;
  color: #EDCFBD;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 1px #2A3287, 0 2px #2A3287, 0 3px #2A3287, 0 4px #2A3287, 0 5px #2A3287, 0 6px #2A3287;
}

.city-main > a:hover,
.user-main > a:hover,
.home-page > a:hover {
  background: #2A3287;
  box-shadow: 0 1px #20457C, 0 2px #20457C, 0 3px #20457C, 0 4px #20457C, 0 5px #20457C, 0 6px #20457C;
}

.account-details .preview-avatar {
  float: right;
  width: 400px;
  padding-bottom: 20px;
}

.new-event li:nth-child(1),
.new-event li:nth-child(4),
.new-event li:nth-child(5),
.new-event li:nth-child(7) {
  border-bottom: 1px solid #F2AFBE;
}

.thumb {
  position: relative;
}

.thumb > img {
  border-radius: 50%;
  border: 1px solid #2A3287;
  padding: 3px;
  width: 138px;
  height: 138px;
}

.thumb:hover > img {
  border: 0;
  padding: 4px;
  background: #2A3287;
}

.thumb:hover > strong {
  text-decoration: underline;
}

.thumb > strong {
  position: absolute;
  text-align: center;
  color: #2A3287;
  width: 100%;
  top: 24px;
  left: 0;
}

.hosts {
  margin-left: 24px;
}

.host-link,
.attendee-link {
  float: left;
  margin-bottom: 25px;
}

.host-link .thumb,
.attendee-link .thumb {
  margin: 40px;
}

.event-link {
  width: 700px;
  margin: 30px auto 60px auto;
  position: relative;
}

.event-link .heading {
  display: block;
  width: 380px;
  margin-left: 120px;
  font-size: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid #FB6648;
}

.event-link .heading > a {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: #2A6A87;
  padding-bottom: 2px;
  display: block;
}

.event-link .heading > a:hover {
  text-decoration: underline;
}

.event-link .location {
  display: block;
  position: absolute;
  width: 350px;
  margin-top: 10px;
  left: 150px;
  text-align: right;
}

.event-link .slots,
.event-link .slots > form,
.event-link .slots > form > button {
  float: right;
  display: block;
  width: 160px;
  height: 35px;
  border-radius: 5px;
  background: #2A6A87;
  color: #EDCFBD;
  font-weight: 500;
  box-shadow: 0 1px #2A3287, 0 2px #2A3287, 0 3px #2A3287, 0 4px #2A3287, 0 5px #2A3287, 0 6px #2A3287;
}

.event-link .slots:hover {
  background: #2A3287;
  box-shadow: 0 1px #20457C, 0 2px #20457C, 0 3px #20457C, 0 4px #20457C, 0 5px #20457C, 0 6px #20457C;
}

.event-link .slots > a {
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 6px 6px 18px 6px;
  text-transform: uppercase;
  position: relative;
}

.event-link .slots > form > button {
  text-transform: uppercase;
}

.event-link .slots > .cancel-attend > button,
.event-link .slots > .destroy-event > button {
  color: #FFFFFF;
  background: #F56F5E;
  box-shadow: 0 1px #FD1612, 0 2px #FD1612, 0 3px #FD1612, 0 4px #FD1612, 0 5px #FD1612, 0 6px #FD1612;
}

.event-link .slots > .cancel-attend > button:hover,
.event-link .slots > .destroy-event > button:hover {
  color: #FFFFFF;
  background: #FD1612;
  box-shadow: 0 1px #F56F5E, 0 2px #F56F5E, 0 3px #F56F5E, 0 4px #F56F5E, 0 5px #F56F5E, 0 6px #F56F5E;
}

.noslots {
  float: right;
  width: 160px;
  height: 35px;
  border-radius: 5px;
  color: #EFEFEF;
  background: #C4C3C2;
  border-style: none;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 1px #3B3A35, 0 2px #3B3A35, 0 3px #3B3A35, 0 4px #3B3A35, 0 5px #3B3A35, 0 6px #3B3A35;
}

.noslots > span {
  display: block;
  padding: 6px 6px 18px 6px;
  text-transform: uppercase;
}

.city-main > section,
.user-profile > section {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.user-profile > section > aside {
  font-style: italic;
  padding: 10px 20px 0 20px;
}

.city-main > section > header,
.event > header,
.user-profile > section > header {
  width: 400px;
  color: #FB6648;
  font-size: 26px;
  padding: 4px 0;
  border-bottom: 2px solid #FB6648;
  margin-bottom: 5px;
}

.event .host > header {
  width: 200px;
  color: #FB6648;
  font-size: 22px;
  padding: 4px 0;
  border-bottom: 2px solid #FB6648;
  margin-bottom: 5px;
  margin-left: 10px;
}

.event > article {
  width: 720px;
  float: left;
  margin-bottom: 10px;
}

.event .game-img {
  float: right;
  width: 400px;
  margin: 0 0 10px 10px;
  display: inline-block;
}

.attendees {
  width: 720px;
}

.city-main > section > article,
.user-profile > section > article {
  float: left;
  width: 500px;
  padding: 20px;
}

.user-profile > section > img {
  float: right;
  padding-left: 10px;
}

.event {
  width: 720px;
  margin: auto;
}

.event > address {
  margin: 10px 0 10px 30px;
}

.event > .host {
  margin-top: 80px;
  margin-left: 40px;
  height: 220px;
}

.event .map {
  float: right;
}