body {
  background: #ECDFBD;
}

#map-canvas { 
  float: right;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 300px;
}

html, body {
  height: 100%;
}

.hidden {
  display: none;
}

form {
  width: 520px;
  margin: auto;
}

form h2 {
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 10px;
}

form ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

form li {
    padding: 8px 0; 
    position:relative;
}

form label {
  font-weight: 500;
  width: 120px;
  margin-top: 5px;
  display: inline-block;
  float: left;
  padding: 3px 0;
}


input:focus, select:focus, textarea:focus {  
  outline: none;
}

:-moz-placeholder {
  color: #5E3448;
}
 
::-webkit-input-placeholder {
  color: #5E3448;
}

input, textarea, select, option{
  width: 400px;
  box-sizing: border-box;
  background: #F2AF8E;
  border-radius: 5px;
  border-style: none;
  text-align: center;
}

select {
  -webkit-appearance: menulist-button;
  font-size: 18px;
  color: #5E3448;
}

select:hover, button:hover, input[type="datetime-local"]:hover {
  cursor: pointer;
}

button {
  width: 400px;
  float: right;
  box-sizing: border-box;
  background: #F2AF8E;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 2px; 
  font-weight: 700;
  box-shadow: 0 1px #F59677, 0 2px #F59677, 0 3px #F59677, 0 4px #F59677, 0 5px #F59677, 0 6px #F59677;
}

button:hover {
  font-size: 18px;
  background: #F59677;
  box-shadow: 0 1px #F2AF8E, 0 2px #F2AF8E, 0 3px #F2AF8E, 0 4px #F2AF8E, 0 5px #F2AF8E, 0 6px #F2AF8E;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 30px;
  font-size: 14px;
}

input[type="file"] {
  margin: 5px 0;
  font-size: 16px;
}
