.nav {
  width: 960px;
  padding: 0;
  margin: auto;
  color: #3B3A35;
}

.nav-logo {
  width: 400px;
}

.nav-logo a {
  display: block;
  padding: 6px 10px;
  float: left;
}

.logo-img img {
  width: 166px;
  height: 30px;
}

.logo-text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  padding-top: 3px;
}

.logo-text:hover {
  color: #20457C;
  text-decoration: underline;
  font-weight: 700;
}

.nav-items {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.nav-item a {
  display: block;
  padding: 12px 8px 13px 8px;  
}

.nav-item {
  float: left;
}

.nav-item:hover {
  color: #20457C;
  text-decoration: underline;
  font-weight: 700;
}